<h1>SPARQl Transformer demo</h1>
<form method="POST" action="/transformer-run">
  <!-- <strong><label for="json">Query in JSON-LD</label></strong>
  <p>
    <textarea id="json" name="json" rows="12" cols="50"></textarea>
  </p> -->
  <strong><label for="db">Query file</label></strong>
  <p>
    <select id="db" name="queryFile" >
      <% files.forEach(function(f) { %>
        <option value=<%= f%>><%= f%></option>
      <% }); %>
    </select>
  </p>
  <input type="submit" value="Execute">
</form>
